:root {
   --primary-color: rgb(140, 182, 190);
   --secondary-color:pink;
   --box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2) --border: 1px solid blue;
}

body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 25px;
   margin: 0;
   margin-bottom: 200px;
   
}

h1{
   font-weight: bold;
   text-align: center;
   font-style:normal;
   
}
h2,h3 {
   text-align: center;
   margin: 0;
   font-family: 'Rajdhani',
   sans-serif;
   
}

h3{
   opacity: 1.0;
}

div {
   display: block;
}
.front-page {
   margin-top: 100px;
}
.navbar{
   position: fixed;
   width: 100%;
   top: 0;
   padding: 20px;
}
.nav {
   margin-bottom: 10px;
   border: 4px solid var(--primary-color);
   background: var(--secondary-color);
   border: var(--border);

}
.nav-links {
   display: flex;
   justify-content: space-evenly;
   color: black;
   margin-top: 30px;
   

   
   
}

.nav-links a{
   margin: 20px;
   text-decoration: none;
   border: 1px solid var(--primary-color);
   padding: 10px;
   color: black;
   box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
   
   
   
}

#about-link {
   background-color: whitesmoke;
   color: black;
}
#contact-link{
   background-color: rgb(140, 182, 190);
   
   color: white;
}
#contact-link:hover {
   background-color: pink;
   color: black;
}
#about-link{
   background-color: white ;
   color: pink;
}
#about-link:hover {
   background-color: black;
   color: pink;
}
a {
   display: flex;
   flex-direction: row;
   color: black;
   text-decoration: none;
  

}

a:hover {
   color: black;
   text-decoration: none;
}

a:visited {
   color: var(--primary-color);
}

p {
   color: black;
   padding: 20px;
   border-radius: 5px;
   font-size: 15px;
   line-height: 1.5;
   text-align: center;

}

.homepage-about {
   text-align: center;
   color: black;
   display: block;
   margin: 30px;
}

.homepage-about:hover {
   color: black;
}


.email-link {
   text-align: center;
   display: block;
   color: black;
   margin: 20px;
   font-size: 25px;
   text-decoration: underline;

}
.email-link:hover {
   color: pink;
}

#footer{
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem;
}
body {
   background-image: url("images/newcover.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   
   
}